body {
    font-family: "Open-sans", "helvetica neue", helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    position: relative;
    min-height: 45px;
    margin-bottom: 21px;
}
header {            
    padding: 0;
    list-style-type: none;                
    background-color: black;
    color: white;
    width: 100vw;
    height: 30px;
    margin: 0;
}
.ban li {
    list-style-type: none;
    display: inline-block; 
    margin: 0 20px; 
    line-height: 50%;
}
.log {
 margin: 0 0 0 650px;
}
.ban ul {
    float: left;
}
header img {
    float: left;
    margin: auto;
    width: 70px;
    padding-left: 25px;
    padding-right: 30px;
}
body {
    background-color: #1e93cc;
    overflow-y: scroll;
}
.bonhomme {
    margin-left: 30px;
    width: 5%;
    float: left;
}
.bloc2 {
    color: white;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 25px;
    width: 94%;
    text-align: center;   
}
.logobig {
    width: 200px;
}
section {
    width: 100vw;
}
section p {
    font-size: 18px;
}
.boxarr {
    font-size: 16px;
    background-color: darkorange;
    width: 230px;
    height: 50px;
    border: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 0.5em; 
    line-height: 50px;
    font-weight: bold;
    margin-left: 46%;  
}
.deadlines {
    background-color: white;
    height: 50px;
    margin-top: 110px;
    line-height: 50px;
    font-size: 16px;
    padding-left: 43%;
}
.sectiondeux {
    columns: 300px 2;
    color: white;  
}
.sectiondeux p{
    font-size: 12px;
}
.title1 {
    font-size: 18px;
    font-weight: lighter;
    }
    .logos {
    
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    }
